body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.collapse ul {
    direction: rtl;
}*/

.bg-light {
    background-color: #0a4886 !important;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #eee;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse;
    }
   
}
.navbar-brand img{
    width:30px;
    height:30px;
}

a {
    color: #fff;
}

.myfooter {
    background: #a6a6f9;
    direction:rtl;
}
.myfooter a{
    color:#333;
}
.myfooter.navbar {
    padding: 0;
}

.myfooter h3{
    margin-bottom:20px;
}
.subfooter {
    background: #a6a6f9;
    background: #5c5c94;
    color: #eee;
}
